.list {
    display: flex;
    flex-wrap: wrap;   /* cho phép xuống hàng */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Mobile: 1 cột */
@media (max-width: 767px) {
    .card {
      flex: 1 1 100%;
    }
  }