@import "./colors/index.css";

/* Global styles can go here. The variables from ./colors/index.css
	are now available throughout the app (all component CSS files).
*/

html, body, * {
  font-family: "Times New Roman", Times, serif !important;
}